body{
    margin: 0;
    padding: 0; 
    display: flex; 
    font-family: 'Segoe UI', 
    sans-serif; 
    height: 100vh; 
}
        
#sidebar {
    width: 320px;
    background: #f8f9fa;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    z-index: 1000;
}
        
#map{ 
    flex-grow: 1; 
    height: 100%; 
}
        
.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}
        
h2{ 
    margin-top: 0; 
    color: #2c3e50; 
}
        
.stat-broj{ 
    font-size: 2em; 
    font-weight: bold; 
    color: #3498db; 
}
.stat-km{ 
    font-size: 1.5em; 
    font-weight: bold; 
    color: #27ae60; 
}
        
input, select, textarea, button {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
        
.custom-pin {
    background: none;
    border: none;
}

#custom-kat-container { 
    display: none; 
}
        
button {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
button:hover { 
    background-color: #2980b9; 
}

#form-container { 
    display: none; 
    margin-top: 10px; 
    border-top: 2px solid #eee; 
    padding-top: 10px; 
}

.filter-alert {
    background-color: #e3f2fd;
    border-left: 5px solid #2196F3;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.filter-content {
    display: flex;
    align-items: center;
}

.btn-clear {
    background: none;
    border: none;
    font-weight: bold;
    color: #90a4ae;
    cursor: pointer;
    font-size: 1.2em;
    padding: 0 5px;
    transition: color 0.2s; 
}


.btn-clear:hover {
    color: #d32f2f; 
}